.expandableTextContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.textContent {
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-bottom: 10px;
}

.expanded {
  max-height: none !important;
}

.expandButton {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 12px;
  background-color: transparent;
  border: 1px solid #755E54;
  border-radius: 20px;
  color: #755E54;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.expandButton:hover {
  background-color: rgba(117, 94, 84, 0.1);
  color: #5c4a42;
}

.expandButton:after {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.4em;
  border-right: 1.5px solid #755E54;
  border-bottom: 1.5px solid #755E54;
  transform: rotate(45deg);
  position: relative;
  top: -2px;
  transition: transform 0.2s ease;
}

.expandButton.expanded:after {
  transform: rotate(-135deg);
  top: 1px;
}

.textContent:not(.expanded)::after {
  content: '';
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(246, 239, 233, 0), rgba(246, 239, 233, 1));
  pointer-events: none;
} 